<header>
    <div class="header-info">
        <h4 class="header-name"><%= name %></h3>
        <h3 class="header-title"><%= title %></h2>
    </div>
    <span class="profile-picture"></span>
</header>