<div class="post-container">
    <div class="post-header">
        <div class="user-info">
            <h5 class="user-name"><%= name %></h5>
            <span></span>
        </div>
    </div>
   
    <div class="post-content">
        <div class="post-description">
            <p><%= content %></p>
        </div>
        <div class="post-comments">
            <a href="/post"><%= number %> comment(s)</a>
        </div>
        <div class="post-actions">
            <span class="material-icons post-action">
                favorite
            </span>
            <span class="material-icons post-action">
                mode_comment
            </span>                
        </div>
    </div>
  
</div>