<aside>
    <div class="logo">
        <div class="logocontent">
            <img src="./media/aven.png" alt="logo" width="40px">
            <h1 class="CTM">CTM</h1>
        </div>
        <i class="menu-expand material-icons" >more_horiz</i>


    </div>
  
    <span class="sidebar-options" >
        <div class="aside-options">
            <a href="/" class="option-container">
                <i class="material-icons">article</i>
                <span class="aside--option">
                        Feed
                </span>
            </a>
            <a href="/groups" class="option-container">
                <i class="material-icons">groups</i>
                <span class="aside--option">
                        Groups
                </span>
            </a> 
            <a href="/hey" class="option-container">
                <i class="material-icons">notifications</i>
                <span class="aside--option">
                        Notifications
                </span>
            </a>
        </div>
        <div class="line"></div>
        <div class="aside-options">
            <a href="/profile" class="option-container extra-opt">
                <i class="material-icons">account_circle</i>
                <span class="aside--option">
                        Account
                </span>
            </a>
            <a href="/settings" class="option-container extra-opt">
                <i class="material-icons">settings</i>
                <span class="aside--option">
                        Settings
                </span>
            </a> 
        </div>


    </span>
</aside>