.posts-wrapper {
  padding-top: 20px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  overflow-y: scroll;
  padding: 15px;
  box-shadow: inset 0px 8px 10px -10px rgba(0, 0, 0, 0.2);
}
.posts-container {
  overflow-y: scroll;
  height: 70%;
  width: 60%;
  min-width: 490px;
}

.posts-container::-webkit-scrollbar {
  display: none;
}

.preloader {
  width: 34px;
  height: 34px;
  border: 7px solid #eee;
  border-top: 7px solid #666;
  border-radius: 50%;
  animation-name: girar;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
@keyframes girar {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#cuadro-carga {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
}
@media screen and (max-width: 767px) {
  .posts-container {
    width: 100%;
    min-width: 360px;
  }
}
